<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>抱歉，请求错误</title>
</head>
<body style="background-color: #9d9d9d; height: 100%; padding: 100px">
    <div style="width: 520px; height: 360px; background-color: white;
    border-radius: 10px; margin:0 auto; padding: 20px">
        <img src="/images/404.gif">
        <div style="text-align: center; font-size: 30px; color: #9d9d9d">您要查看的页面不存在或已删除</div>
    </div>
</body>
</html>